{%- comment -%}
  Include vars:
  section_items
{%- endcomment -%}

<!-- Nav -->
<nav id="nav">
  <ul>
    <li><a href="{{site.baseurl}}"><span class="icon fa-home">Introduction</span></a></li>
  </ul>
  <hr>
  <ul>
    <li><a href="{{site.baseurl}}/notes.html"><span class="icon fa-laptop">Learning Notes</span></a></li>
    <li><a href="{{site.baseurl}}/projects.html"><span class="icon fa-code">My Projects</span></a></li>
    <li><a href="{{site.baseurl}}/gallery.html"><span class="icon fa-camera">Gallery</span></a></li>
    <li><a href="{{site.baseurl}}/essays.html"><span class="icon fa-pencil">Essays</span></a></li>
  </ul>
  <hr>
  {%- assign _sections = include.section_items | where_exp: "section", "section.hide != true" -%}
  {%- unless _sections == null -%}
    {%- for _sect in _sections -%}
      {%- assign _title = _sect.title | default: _sect.layout | default: 'Untitled' -%}
      {%- assign _slug = _title | slugify -%}
      {%- assign _icon = _sect.icon | default: 'fa-file' -%}
      <li><a href="{{site.baseurl}}/{{_sect.category}}/{{_sect.url}}" class="scrolly"><span class="icon {{ _icon }}">{{- _title -}}</span></a></li>
    {%- endfor -%}
  {%- endunless -%}
</nav>